<!-- <p>register works!</p> -->
<mat-card>
    <mat-card-title>Cadastrar Colaborador</mat-card-title>
    <form [formGroup]="formCadastro">
        <mat-form-field>
            <input matInput placeholder="Nome*" formControlName="name">
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CPF*" formControlName="cpf">
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Cargo*</mat-label>
            <mat-select >
            <mat-option *ngFor="let cargo of cargos" [value]="cargo.value">
            {{cargo.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CRM*" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Especialidade*" >
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="dataSelecionada" [matDatepicker]="picker" placeholder="Data de Nascimento*">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>          
        <mat-form-field>
            <input matInput placeholder="Telefone*" required>
        </mat-form-field>
        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput [(ngModel)]="email" name="email" type="email" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,}$" required>
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Senha" >
        </mat-form-field>
        <mat-form-field>
            <input type="password" matInput placeholder="Confirmar Senha" >
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Genero*</mat-label>
            <mat-select>
            <mat-option *ngFor="let genero of generos" [value]="genero.value">
            {{genero.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>Estado Civil*</mat-label>
            <mat-select>
            <mat-option *ngFor="let estadoCivil of estadoCivil" [value]="estadoCivil.value">
            {{estadoCivil.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="CEP*" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Rua*" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Número*" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Bairro*" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Cidade*" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Estado*" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Complemento*" >
        </mat-form-field>
    
    </form>

    <button mat-raised-button (click)="createProfessional()" color="primary">
        Salvar
    </button>
    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>
</mat-card>


