// form {
//     display: flex;
//     flex-direction: column;
//     margin-top: 20px;
// }

mat-card{
    padding-bottom: 30px;
}

mat-card-title{
    padding: 20px 0px 0px 25px ;
}

mat-form-field{
    padding: 5px;
}

button {
    margin: 20px 15px 0px 15px;
}

#cancelButton{
    margin-bottom: 15ox;
}


form{
    display: flex;
    flex-direction: column;
    padding: 20px;
}

