<mat-card>

    <mat-card-title>Cadastrar Paciente</mat-card-title>

    <form [formGroup]="formCadastro">

        <mat-form-field>
            <mat-label>Nome</mat-label>
            <input matInput placeholder="Nome completo" formControlName="name" 
            [(ngModel)]="patient.name" name="name">
            <mat-error *ngIf="formCadastro.get('name')?.errors?.['required'] && 
            formCadastro.get('name')?.touched">Nome Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>CPF</mat-label>
            <input matInput placeholder="apenas digitos" formControlName="cpf"
            [(ngModel)]="patient.cpf" name="cpf">
            <mat-error *ngIf="formCadastro.get('cpf')?.errors?.['required'] && 
            formCadastro.get('cpf')?.touched">CPF Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Convênio</mat-label>
            <input matInput placeholder="Convênio" formControlName="insuranceCompany"
            [(ngModel)]="patient.insuranceCompany" name="insuranceCompany">
            <mat-error *ngIf="formCadastro.get('insuranceCompany')?.errors?.['required'] && 
            formCadastro.get('insuranceCompany')?.touched">Campo Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>healthInsurenceCard</mat-label>
            <input matInput placeholder="Número do cartão" formControlName="healthInsurenceCard"
            [(ngModel)]="patient.healthInsurenceCard" name="healtInsurenceCard">
            <mat-error *ngIf="formCadastro.get('healtInsurenceCard')?.errors?.['required'] 
            && formCadastro.get('healtInsurenceCard')?.touched">Campo Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Observação</mat-label>
            <input matInput placeholder="Observação" formControlName="observation"
            [(ngModel)]="patient.observation" name="observation">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Data de nascimento</mat-label>
            <input matInput [matDatepicker]="picker" 
             placeholder="Data de Nascimento" formControlName="dateOfBirth"
            [(ngModel)]="patient.dateOfBirth" name="dateOfBirth">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
            <mat-error *ngIf="formCadastro.get('dateOfBirth')?.errors?.['required'] && 
            formCadastro.get('dateOfBirth')?.touched">Data Obrigatória</mat-error>
          </mat-form-field>

        <mat-form-field>
            <mat-label>Telefone</mat-label>
            <input matInput placeholder="Telefone" formControlName="phone"
            [(ngModel)]="patient.phone" name="phone">
            <mat-error *ngIf="formCadastro.get('phone')?.errors?.['required'] && 
            formCadastro.get('phone')?.touched">Telefone Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Email</mat-label>
            <input matInput placeholder="Email*" type="email" formControlName="email"
            [(ngModel)]="patient.email" [(ngModel)]="userPatient.username" name="email">
            <mat-error *ngIf="formCadastro.get('email')?.errors?.['required'] && 
            formCadastro.get('email')?.touched">Email Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Senha</mat-label>
            <input type="password" matInput placeholder="Mínimo 6 dígitos" formControlName="password"
            [(ngModel)]="userPatient.password" name="password">
        </mat-form-field>

        <mat-form-field>
            <mat-label>Confirmar Senha</mat-label>
            <input type="password" matInput placeholder="Confirmar Senha" 
            formControlName="confirmPassword">
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>Genero</mat-label>
            <mat-select formControlName="gender"
            [(ngModel)]="patient.gender" name >
            <mat-option *ngFor="let genero of generos" [value]="genero.value">
            {{genero.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill" >
            <mat-label>Estado Civil</mat-label>
            <mat-select formControlName="maritalStatus"
            [(ngModel)]="patient.maritalStatus">
            <mat-option *ngFor="let estadoCivil of estadoCivil" [value]="estadoCivil.value">
            {{estadoCivil.viewValue}}
            </mat-option>
        </mat-select>
        <mat-error *ngIf="formCadastro.get('maritalStatus')?.errors?.['required'] && 
        formCadastro.get('maritalStatus')?.touched">Estado Civil Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>CEP</mat-label>
            <input matInput placeholder="CEP" formControlName="zipCode"
            [(ngModel)]="patient.address.zipCode" name="zipCode">
            <mat-error *ngIf="formCadastro.get('zipcode')?.errors?.['required'] 
            && formCadastro.get('zipCode')?.touched">CEP Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Rua</mat-label>
            <input matInput placeholder="ex: Rua Oscar de Sá" formControlName="street"
            [(ngModel)]="patient.address.street" name="street">
            <mat-error *ngIf="formCadastro.get('email')?.errors?.['required'] && 
            formCadastro.get('email')?.touched">Especialidade Obrigatória</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Número</mat-label>
            <input matInput placeholder="Número residência" formControlName="number"
            [(ngModel)]="patient.address.number" name="number">
            <mat-error *ngIf="formCadastro.get('number')?.errors?.['required'] && 
            formCadastro.get('number')?.touched">Número Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Bairro</mat-label>
            <input matInput placeholder="Ex: Prado" formControlName="district"
            [(ngModel)]="patient.address.district" name="district">
            <mat-error *ngIf="formCadastro.get('district')?.errors?.['required'] && 
            formCadastro.get('district')?.touched">Bairro Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Cidade</mat-label>
            <input matInput placeholder="Ex: Recife" formControlName="city"
            [(ngModel)]="patient.address.city" name="city">
            <mat-error *ngIf="formCadastro.get('city')?.errors?.['required'] && 
            formCadastro.get('city')?.touched">Cidade Obrigatória</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Estado</mat-label>
            <input matInput placeholder="Ex: Pernambuco" formControlName="state"
            [(ngModel)]="patient.address.state" name="state">
            <mat-error *ngIf="formCadastro.get('state')?.errors?.['required'] && 
            formCadastro.get('state')?.touched">Estado Obrigatório</mat-error>
        </mat-form-field>

        <mat-form-field>
            <mat-label>Complemento</mat-label>
            <input matInput placeholder="Ex: casa A" formControlName="complements"
            [(ngModel)]="patient.address.complements" name="complements">
        </mat-form-field>
    </form>

    <button [disabled]="!formCadastro.valid" mat-raised-button 
    (click)="updatePatient()" color="primary">
        Salvar
    </button>

    <button mat-raised-button (click)="cancel()">
        Cancelar
    </button>

</mat-card>


