
*{
    margin: 0 auto;
    padding: 0;
}

h5{
    margin-top: 25px;
    margin-left: 25px;
    justify-content: center;
    width: 1px;
    padding: 10px;
}

.container-model{
    width: 100%;
    padding: 70px;
    margin-left: 10px;
}


.form-control{
    width: 100%;
    box-sizing: border-box;
}

form{
    width: 30%;
}


button{
    padding: .7rem .9rem ;
    margin: 0 15px;
    border-radius: 0px;
    width: 36;
    height: 10;
    border-radius: 5px;
    cursor: pointer;
    background-color: Transparent;

}