<h1 class="card-title"><strong>Histórico Médico</strong></h1>

<form>
    <p>Preencha os dados</p>
   <div>
     <mat-form-field>
        <mat-label>Identificação do paciente:</mat-label>
        <input matInput placeholder="Identificação">
     </mat-form-field>
   </div>
   <div>
     <mat-form-field>
        <mat-label>Identificação do médico:</mat-label>
        <input matInput placeholder="Identificação">
     </mat-form-field>
   </div>
   <div>
    <mat-form-field appearance="fill">
        <mat-label>Status</mat-label>
        <textarea matInput></textarea>
      </mat-form-field>
   </div>
   <div>
    <mat-form-field appearance="fill">
        <mat-label>Perscrição</mat-label>
        <textarea matInput placeholder="Perscrição"></textarea>
      </mat-form-field>
   </div>
   <div>
    <mat-form-field appearance="fill">
        <mat-label>Observação</mat-label>
        <textarea matInput placeholder="Perscrição"></textarea>
      </mat-form-field>
   </div>
</form>

<section>
    <button mat-raised-button color="primary">Editar</button>
    
    <button mat-raised-button color="primary">Concluir</button>
  </section>
  
  
  
  

 
