mat-card-title{
  text-align: right;
}

canvas {

  align-items: center;
  left: 15px;
  right: 15px;
  
}

.grid-container {
  margin: 20px;
  background-color: antiquewhite;
  display: grid;
  max-width: 100%;

}
.container{
  display: flex;
  
}


.dashboard-card {
  position:relative;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  max-width: 300px;
  margin-left: 50px;
  
}

.title {
  text-align: center;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}

