<!-- <p>register works!</p> -->
<mat-card>
    <mat-card-title>Cadastrar Colaborador</mat-card-title>
    <form>
        <mat-form-field>
            <input matInput placeholder="Nome" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="cpf" >
        </mat-form-field>
        <mat-form-field appearance="fill" >
            <mat-label>cargo</mat-label>
            <mat-select>
            <mat-option *ngFor="let cargo of cargos" [value]="cargo.value">
            {{cargo.viewValue}}
            </mat-option>
        </mat-select>
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Endereço" >
        </mat-form-field>
        <mat-form-field>
            <input matInput [(ngModel)]="dataSelecionada" [matDatepicker]="picker" placeholder="Data de Nascimento">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
          </mat-form-field>          
        <mat-form-field>
            <input matInput placeholder="Telefone" >
        </mat-form-field>
        <mat-form-field>
            <input matInput placeholder="Email" >
        </mat-form-field>
        
    </form>

    <button mat-raised-button color="primary">
        Salvar
    </button>
    
    <button id="cancelButton" mat-raised-button>
        Cancelar
    </button>
</mat-card>


