// form {
//     display: flex;
//     flex-direction: column;
//     margin-top: 20px;
// }

mat-card-title{
    padding: 10px;
}

mat-form-field{
    padding: 5px;
}

button {
    margin: 20px 15px 0px 0px;
}